.colorTotal[b-wl5yizci68] {
    border-radius: 30px;
    border: 1px solid rgb(0,0,0,0.5);
}
.totalEmpleado[b-wl5yizci68]{
    color: blue;
}

[b-wl5yizci68] .dxbl-btn{
  border-radius: 20px !important;
}v[b-wl5yizci68]

