@page "/asignacionesform"
@page "/asignacionesform/{Id:int}"
@rendermode InteractiveServer
@using PistaCombustible.Models
@using PistaCombustible.Services
@using DevExpress.Blazor
@inject AsignacionService AsignacionService
@inject TanqueService TanqueService
@inject VehiculoService VehiculoService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IToastNotificationService ToastService

<PageTitle>Gestión de asignacion</PageTitle>

<div style="width: 80%;margin: auto;">
    <h1>@(Id == null ? "Crear" : "Editar") asignaciones</h1>

    <div class="card p-4 shadow">

        <DxFormLayout CssClass="w-100 demo-form-layout">
           
            <DxFormLayoutItem
             Caption="* Tanque:">
                <DxComboBox
                 @bind-Value="asignacion.Tanque"
                 Data="@tanques"
                 TextFieldName="tanque"
                 ValueFieldName="Id"
                 ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                 NullText="Seleccione un tanque"
                 SearchMode="ListSearchMode.AutoSearch"
                 SearchFilterCondition="ListSearchFilterCondition.Contains" />
            </DxFormLayoutItem>

            <DxFormLayoutItem
             Caption="* Vehiculo:">
                <DxComboBox
                 @bind-Value="asignacion.Vehiculo" 
                 Data="@vehiculos" 
                 TextFieldName="vehiculo"
                 ValueFieldName="Id" 
                 ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                 NullText="Seleccione un vehiculo"
                 SearchMode="ListSearchMode.AutoSearch"
                 SearchFilterCondition="ListSearchFilterCondition.Contains" />
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="* Litros:">
                <DxSpinEdit 
                 @bind-Value="asignacion.Litros"
                 NullText="Ingrese los litros." />
            </DxFormLayoutItem>

        </DxFormLayout>

        <div class="w-100 mx-0 mt-3 d-flex gap-2">
            <DxButton 
             RenderStyle="ButtonRenderStyle.Primary" 
             Click="GuardarAsignacion">
                <i class="me-2 bi bi-check-circle"></i> Guardar
            </DxButton>
            @if (Id == null)
            {
                <DxButton 
                 RenderStyle="ButtonRenderStyle.Secondary" 
                 Click="LimpiarFormulario">
                    <i class="me-2 bi bi-arrow-counterclockwise"></i> Limpiar
                </DxButton>
            }
            <DxButton 
             RenderStyle="ButtonRenderStyle.Danger" 
             Click="Cancelar">
                <i class="me-2 bi bi-x-circle"></i> Cancelar
            </DxButton>
        </div>
    </div>
     <GlobalToast />
</div>

@code {
    [Parameter]
    public int? Id { get; set; }
    private Asignacion asignacion = new();
    private List<Tanque> tanques = new();
    private List<Vehiculo> vehiculos = new();

    protected override async Task OnInitializedAsync()
    {
        await CargarAsignaciones();
        await CargarTanques();
        await CargarVehiculos();
    }

    /// <summary>
    /// Carga tanques
    /// </summary>
    /// <returns></returns>
    private async Task CargarTanques()
    {
        tanques = await Task.Run(() => TanqueService.GetTanques());
    }

    /// <summary>
    /// Carga vehiculo
    /// </summary>
    /// <returns></returns>
    private async Task CargarVehiculos()
    {
        vehiculos = await Task.Run(() => VehiculoService.GetVehiculos());
    }

    /// <summary>
    /// Carga asignaciones
    /// </summary>
    /// <returns></returns>
    private async Task CargarAsignaciones()
    {
        try
        {
            if (Id != null)
            {
                asignacion = await Task.Run(() => AsignacionService.GetAsignacionById(Id.Value));
            }
            else
            {
                asignacion = new Asignacion();
                asignacion.FechaCreacion = DateTime.Now;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar asignaciones: {ex.Message}");
            await JS.InvokeVoidAsync("alert", "Error al cargar el asignaciones");
        }
    }
    
    /// <summary>
    /// Guarda o actualiza el asignacion
    /// </summary>
    private async Task GuardarAsignacion()
    {
        try
        {
            if (asignacion.Tanque == null ||
                asignacion.Vehiculo == null ||
                asignacion.Litros == null)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Error",
                    Text = "Por favor, complete todos los campos requeridos.",
                    RenderStyle = ToastRenderStyle.Danger
                });
                return;
            }

            if (asignacion.Litros > tanques.Find(n => n.Id == asignacion.Tanque).Nivel)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Alerta",
                    Text = "Por favor, los litros asignados no puede ser mayor que el nivel del tanque.",
                    RenderStyle = ToastRenderStyle.Warning
                });
                return;
            }

            if (tanques.Find(n => n.Id == asignacion.Tanque).TipoCombustible !=
                vehiculos.Find(n => n.Id == asignacion.Vehiculo).TipoCombustible)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Alerta",
                    Text = "Por favor, el tipo de combustible del vehículo y del tanque debe ser el mismo.",
                    RenderStyle = ToastRenderStyle.Warning
                });
                return;
            }

            if (Id != null)
            {
                await Task.Run(() => AsignacionService.UpdateAsignacion(asignacion));
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "Asignacion actualizada correctamente.",
                    RenderStyle = ToastRenderStyle.Success
                });
                await Task.Delay(1000);
                Navigation.NavigateTo($"/asignaciones");
            }
            else
            {
                await Task.Run(() => AsignacionService.AddAsignacion(asignacion));
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "Asignación creada correctamente.",
                    RenderStyle = ToastRenderStyle.Success
                });
                LimpiarFormulario();
            }
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", "Error al guardar asignacion: " + ex.Message);
        }
    }

    /// <summary>
    /// Cancela el formulario
    /// </summary>
    private void LimpiarFormulario()
    {
        asignacion = new Asignacion()
        {
            FechaCreacion = DateTime.Now
        };
    }

    /// <summary>
    /// Cancela el formulario
    /// </summary>
    private void Cancelar()
    {
        Navigation.NavigateTo("/asignaciones");
    }

    /// <summary>
    /// Clase para tener el objeto tipo combustible
    /// </summary>
    public class TipoCombustibleItem
    {
        public string Valor { get; set; }
        public string Nombre { get; set; }
    }
}