@page "/empleados"
@rendermode InteractiveServer
@using PistaCombustible.Models
@using PistaCombustible.Services
@using DevExpress.Blazor
@inject EmpleadoService EmpleadoService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IToastNotificationService ToastService

<PageTitle>Gestión de empleados</PageTitle>


<div style="width: 80%; margin: auto;">
    <div class="d-flex align-items-center mb-3">
        <h1 class="me-3 mb-0">Lista de empleados</h1>
        <DxButton 
        RenderStyle="ButtonRenderStyle.Primary" 
        Size="ButtonSize.Small" Click="() => AdicionarEmpleado()"
        IconCssClass="bi bi-plus-circle" />
            
    </div>
   
    @if (EmpleadoLista == null)
    {
        <span>Cargando...</span>
    }
    else if (!EmpleadoLista.Any())
    {
        <div class="alert alert-warning">
            No hay empleados registrados.
        </div>
    }
    else
    {
        <ExportarGrid Grid="Grid" FileName="Listado de empleados"/>
        <DxGrid 
        @ref="Grid"
        Data="EmpleadoLista" 
        ShowFilterRow="true" 
        AllowSort="true" 
        AllowPaging="true" 
        PageSize="10"
        ShowPageSizeSelector="true" 
        PageSizes="new int[] { 5, 10, 20, 50 }" 
        AllowGroup="true" CssClass="shadow-sm"
        ColumnCaptionAlignment="GridTextAlignment.Center" 
        ShowSearchBox="true"
        HighlightRowOnHover="true">
        
            <Columns>
                @* <DxGridDataColumn 
                FieldName="Id" 
                Caption="ID" 
                SortOrder="GridColumnSortOrder.Ascending" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-hash"></i>ID
                    </HeaderCaptionTemplate>
                </DxGridDataColumn> *@

                <DxGridDataColumn 
                FieldName="NombreCompleto" 
                Caption="Nombre Completo"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-file-text"></i> Nombre Completo
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>
            
                <DxGridDataColumn 
                FieldName="Email" 
                Caption="Correo Electrónico"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-envelope"></i> Correo Electrónico
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="FechaNacimiento" 
                Caption="Fecha Nacimiento" 
                DisplayFormat="dd/MM/yyyy"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-calendar"></i> Fecha Nacimiento
                    </HeaderCaptionTemplate>
                    <CellDisplayTemplate>
                        @{
                            var fecha = (DateTime?)context.Value;
                            @(fecha?.ToString("dd/MM/yyyy") ?? "N/A")
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>
            
                <DxGridDataColumn 
                FieldName="Salario" 
                Caption="Salario" 
                DisplayFormat="c"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-currency-dollar"></i> Salario
                    </HeaderCaptionTemplate>
                    <FooterTemplate>
                        <strong class="colorTotal">Total: $@(EmpleadoLista.Sum(e => e.Salario) ?? 0)</strong>
                    </FooterTemplate>
                </DxGridDataColumn>
            
                <DxGridDataColumn 
                FieldName="Activo" 
                Caption="Estado"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-toggle-on"></i> Estado
                    </HeaderCaptionTemplate>
                    <CellDisplayTemplate>
                        @if ((bool)context.Value)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="FechaCreacion" 
                Caption="Fecha creación"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-calendar"></i> Fecha creación
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>
            
                <DxGridDataColumn 
                Caption="Acciones" 
                Width="120px"
                TextAlignment="GridTextAlignment.Center">
                    <CellDisplayTemplate>
                        @{
                            var empleado = (Empleado)context.DataItem;
                            <DxButton 
                            RenderStyle="ButtonRenderStyle.Danger" 
                            Size="ButtonSize.Small"
                            Click="() => EliminarEmpleado(empleado.Id)" 
                            IconCssClass="bi bi-trash" />

                            <DxButton 
                            RenderStyle="ButtonRenderStyle.Primary" 
                            Size="ButtonSize.Small"
                            Click="() => ActualizarEmpleado(empleado.Id)" 
                            IconCssClass="bi bi-pen" />
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>
            </Columns>
        </DxGrid>
        <span class="totalEmpleado d-block mt-3">@EmpleadoLista.Count() empleados en total</span>
    }
    <GlobalToast/>
</div>

@code {
    IGrid Grid { get; set; }
    private List<Empleado> EmpleadoLista = new();

    protected override async Task OnInitializedAsync()
    {
        await CargarEmpleados();
    }

    /// <summary>
    /// Carga empleados
    /// </summary>
    /// <returns></returns>
    private async Task CargarEmpleados()
    {
        try
        {
            EmpleadoLista = await Task.Run(() => EmpleadoService.GetEmpleados());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar empleados: {ex.Message}");
        }
    }

    /// <summary>
    /// Elimina empleado
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private async Task EliminarEmpleado(int id)
    {
        var confirmado = await JS.InvokeAsync<bool>("confirm", "¿Está seguro de eliminar este empleado?");

        if (confirmado)
        {
            var success = await Task.Run(() => EmpleadoService.DeleteEmpleadoFisico(id));
            if (success)
            {
                await CargarEmpleados();
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",  
                    Text = "Empleado eliminado correctamente.",
                    RenderStyle = ToastRenderStyle.Success
                }); 
            }
            else
            {
                await JS.InvokeVoidAsync("alert", "Error al eliminar el empleado");
            }
        }
    }

    /// <summary>
    /// Actualiza empleado
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private void ActualizarEmpleado(int id)
    {
        Navigation.NavigateTo($"/empleadoform/{id}");
    }

    /// <summary>
    /// Adiciona empleado
    /// </summary>
    private void AdicionarEmpleado()
    {
        Navigation.NavigateTo($"/empleadoform");
    }
}