@page "/tanques"
@rendermode InteractiveServer
@using PistaCombustible.Models
@using PistaCombustible.Services
@using DevExpress.Blazor
@inject TanqueService TanqueService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IToastNotificationService ToastService

<PageTitle>Gestión de tanques</PageTitle>


<div style="width: 80%; margin: auto;">
    @if (verTitulo)
    {
        <div class="d-flex align-items-center mb-3">
            <h1 class="me-3 mb-0">Lista de tanques</h1>
            <DxButton 
            RenderStyle="ButtonRenderStyle.Primary" 
            Size="ButtonSize.Small" 
            Click="() => AdicionarTanque()"
            IconCssClass="bi bi-plus-circle" />
        </div>
    }
   
    @if (TanqueLista == null)
    {
        <span>Cargando...</span>
    }
    else if (!TanqueLista.Any())
    {
        <div class="alert alert-warning">
            No hay tanques registrados.
        </div>
    }
    else
    {
        @if (verExportar)
        {
            <ExportarGrid Grid="Grid" FileName="Listado de tanques"/>
        }
        <DxGrid 
        @ref="Grid"
        Data="TanqueLista" 
        ShowFilterRow="true" 
        AllowSort="true" 
        AllowPaging="true" 
        PageSize="10"
        ShowPageSizeSelector="true" 
        PageSizes="new int[] { 5, 10, 20, 50 }" 
        AllowGroup="true" CssClass="shadow-sm"
        ColumnCaptionAlignment="GridTextAlignment.Center" 
        ShowSearchBox="true"
        HighlightRowOnHover="true">
        
            <Columns>
                <DxGridDataColumn 
                FieldName="Id" 
                Caption="Número de tanque" 
                TextAlignment="GridTextAlignment.Center"
                SortOrder="GridColumnSortOrder.Ascending" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-hash"></i> Número de tanque
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>
            
                <DxGridDataColumn 
                FieldName="Capacidad" 
                Caption="Capacidad"
                TextAlignment="GridTextAlignment.Center">
                   <HeaderCaptionTemplate>
                        <i class="bi bi-beaker"></i> Capacidad
                    </HeaderCaptionTemplate>
                    <CellDisplayTemplate>
                        <span class="badge bg-success">@($"{context.Value} L")</span>
                    </CellDisplayTemplate>
                </DxGridDataColumn>
             
                <DxGridDataColumn 
                FieldName="Nivel" 
                Caption="Nivel"
                TextAlignment="GridTextAlignment.Center">
                 <HeaderCaptionTemplate>
                        <i class="bi bi-measuring-cup"></i> Nivel
                    </HeaderCaptionTemplate>
                    <CellDisplayTemplate>
                        <span class="badge bg-success">@($"{context.Value} L")</span>
                    </CellDisplayTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="TipoCombustible" 
                Caption="Tipo combustible"
                TextAlignment="GridTextAlignment.Center">
                 <HeaderCaptionTemplate>
                        <i class="bi bi-droplet"></i> Tipo combustible
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="Activo" 
                Caption="Estado"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                        <i class="bi bi-toggle-on"></i> Estado
                    </HeaderCaptionTemplate>
                    <CellDisplayTemplate>
                        @if ((bool)context.Value)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="FechaCreacion" 
                Caption="Fecha creación"
                TextAlignment="GridTextAlignment.Center">
                    <HeaderCaptionTemplate>
                            <i class="bi bi-calendar"></i> Fecha creación
                        </HeaderCaptionTemplate>
                </DxGridDataColumn>

                @if (verAcciones)
                {
                    <DxGridDataColumn 
                    Caption="Acciones" 
                    Width="120px"
                    TextAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate>
                            @{
                                var Tanques = (Tanque)context.DataItem;
                                <DxButton 
                                RenderStyle="ButtonRenderStyle.Danger" 
                                Size="ButtonSize.Small"
                                Click="() => EliminarTanque(Tanques.Id)" 
                                IconCssClass="bi bi-trash" />

                                <DxButton 
                                RenderStyle="ButtonRenderStyle.Primary" 
                                Size="ButtonSize.Small"
                                Click="() => ActualizarTanque(Tanques.Id)" 
                                IconCssClass="bi bi-pen" />
                            }
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                }
            </Columns>
        </DxGrid>
        @if(verTotal)
        {
            <span class="totalTanques d-block mt-3">@TanqueLista.Count() tanques en total</span>
        }
    }
    <GlobalToast/>
</div>

@code {
    [Parameter]
    public bool verTitulo { get; set; } = true;
    [Parameter]
    public bool verExportar { get; set; } = true;
    [Parameter]
    public bool verAcciones { get; set; } = true;
    [Parameter]
    public bool verTotal { get; set; } = true;
    IGrid Grid { get; set; }
    private List<Tanque> TanqueLista = new();

    protected override async Task OnInitializedAsync()
    {
        await CargarTanques();
    }

    /// <summary>
    /// Carga Tanques
    /// </summary>
    /// <returns></returns>
    private async Task CargarTanques()
    {
        try
        {
            TanqueLista = await Task.Run(() => TanqueService.GetTanques());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar Tanque: {ex.Message}");
        }
    }

    /// <summary>
    /// Elimina Tanques
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private async Task EliminarTanque(int id)
    {
        try{
            var confirmado = await JS.InvokeAsync<bool>("confirm", "¿Está seguro de eliminar este Tanques?");

            if (confirmado)
            {
                var success = await Task.Run(() => TanqueService.DeleteTanqueFisico(id));
                if (success)
                {
                    await CargarTanques();
                    ToastService.ShowToast(new ToastOptions
                    {
                        ProviderName = "Notificacion",
                        Title = "Información",  
                        Text = "Tanque eliminado correctamente.",
                        RenderStyle = ToastRenderStyle.Success
                    }); 
                }
                else
                {
                    ToastService.ShowToast(new ToastOptions
                    {
                        ProviderName = "Notificacion",
                        Title = "Información",  
                        Text = "Error al eliminar el Tanques.",
                        RenderStyle = ToastRenderStyle.Success
                    }); 
                }
            }
        }
        catch(Exception ex)
        {
            ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Notificacion",
                Title = "Información",  
                Text = "Error al eliminar el Tanques: Esta siendo usado por alguna asignación.",
                RenderStyle = ToastRenderStyle.Danger
            }); 
        }
    }

    /// <summary>
    /// Actualiza Tanque
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private void ActualizarTanque(int id)
    {
        Navigation.NavigateTo($"/tanqueform/{id}");
    }

    /// <summary>
    /// Adiciona Tanques
    /// </summary>
    private void AdicionarTanque()
    {
        Navigation.NavigateTo($"/tanqueform");
    }
}