@page "/vehiculos"
@rendermode InteractiveServer
@using PistaCombustible.Models
@using PistaCombustible.Services
@using DevExpress.Blazor
@inject VehiculoService VehiculoService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IToastNotificationService ToastService

<PageTitle>Gestión de vehículos</PageTitle>


<div style="width: 80%; margin: auto;">
    @if (verTitulo)
    {
        <div class="d-flex align-items-center mb-3">
            <h1 class="me-3 mb-0">Lista de vehículos</h1>
            <DxButton 
            RenderStyle="ButtonRenderStyle.Primary" 
            Size="ButtonSize.Small" 
            Click="() => AdicionarVehiculo()"
            IconCssClass="bi bi-plus-circle" />
        </div>
    }
   
    @if (VehiculoLista == null)
    {
        <span>Cargando...</span>
    }
    else if (!VehiculoLista.Any())
    {
        <div class="alert alert-warning">
            No hay vehículos registrados.
        </div>
    }
    else
    {
        @if (verExportar)
        {
            <ExportarGrid Grid="Grid" FileName="Listado de vehículos"/>
        }
        <DxGrid 
        @ref="Grid"
        Data="VehiculoLista" 
        ShowFilterRow="true" 
        AllowSort="true" 
        AllowPaging="true" 
        PageSize="10"
        ShowPageSizeSelector="true" 
        PageSizes="new int[] { 5, 10, 20, 50 }" 
        AllowGroup="true" 
        CssClass="shadow-sm"
        ColumnCaptionAlignment="GridTextAlignment.Center" 
        ShowSearchBox="true"
        HighlightRowOnHover="true">
        
            <Columns>
                @* <DxGridDataColumn 
                FieldName="Id" 
                Caption="ID" 
                SortOrder="GridColumnSortOrder.Ascending" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-hash"></i>ID
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>  *@
            
                <DxGridDataColumn 
                FieldName="Marca" 
                Caption="Marca"
                TextAlignment="GridTextAlignment.Center" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-car-front"></i> Marca
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="Matricula" 
                Caption="Matrícula"
                TextAlignment="GridTextAlignment.Center" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-aspect-ratio"></i> Matrícula
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="Nombre" 
                Caption="Chofer"
                TextAlignment="GridTextAlignment.Center" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-person"></i> Chofer
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="Activo" 
                Caption="Estado"
                TextAlignment="GridTextAlignment.Center" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-toggle-on"></i> Estado
                    </HeaderCaptionTemplate>
                    <CellDisplayTemplate>
                        @if ((bool)context.Value)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="TipoCombustible" 
                Caption="Tipo combustible"
                TextAlignment="GridTextAlignment.Center" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-fuel-pump"></i> Tipo combustible
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn 
                FieldName="FechaCreacion" 
                Caption="Fecha creación"
                TextAlignment="GridTextAlignment.Center" >
                    <HeaderCaptionTemplate>
                        <i class="bi bi-calendar"></i> Fecha creación
                    </HeaderCaptionTemplate>
                </DxGridDataColumn>

                @if (verAcciones)
                {
                    <DxGridDataColumn 
                    Caption="Acciones" 
                    Width="120px"
                    TextAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate>
                            @{
                                var Vehiculos = (Vehiculo)context.DataItem;
                                <DxButton 
                                RenderStyle="ButtonRenderStyle.Danger" 
                                Size="ButtonSize.Small"
                                Click="() => EliminarVehiculo(Vehiculos.Id)" 
                                IconCssClass="bi bi-trash" />

                                <DxButton 
                                RenderStyle="ButtonRenderStyle.Primary" 
                                Size="ButtonSize.Small"
                                Click="() => ActualizarVehiculo(Vehiculos.Id)" 
                                IconCssClass="bi bi-pen" />
                            }
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                }
            </Columns>
        </DxGrid>
        @if(verTotal)
        {
            <span class="totalVehiculos d-block mt-3">@VehiculoLista.Count() vehículos en total</span>
        }
    }
    <GlobalToast/>
</div>

@code {
    [Parameter]
    public bool verTitulo { get; set; }
    [Parameter]
    public bool verExportar { get; set; }
    [Parameter]
    public bool verAcciones { get; set; }
    [Parameter]
    public bool verTotal { get; set; }
    IGrid Grid { get; set; }
    private List<Vehiculo> VehiculoLista = new();

    protected override async Task OnInitializedAsync()
    {
        await CargarVehiculos();
    }

    /// <summary>
    /// Carga Vehiculos
    /// </summary>
    /// <returns></returns>
    private async Task CargarVehiculos()
    {
        try
        {
            VehiculoLista = await Task.Run(() => VehiculoService.GetVehiculos());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar Vehiculos: {ex.Message}");
        }
    }

    /// <summary>
    /// Elimina Vehiculos
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private async Task EliminarVehiculo(int id)
    {
        try
        {
            var confirmado = await JS.InvokeAsync<bool>("confirm", "¿Está seguro de eliminar este Vehiculos?");

            if (confirmado)
            {
                var success = await Task.Run(() => VehiculoService.DeleteVehiculoFisico(id));
                if (success)
                {
                    await CargarVehiculos();
                    ToastService.ShowToast(new ToastOptions
                    {
                        ProviderName = "Notificacion",
                        Title = "Información",  
                        Text = "Vehiculo eliminado correctamente.",
                        RenderStyle = ToastRenderStyle.Success
                    }); 
                }
                else
                {
                    ToastService.ShowToast(new ToastOptions
                    {
                        ProviderName = "Notificacion",
                        Title = "Información",  
                        Text = "Error al eliminar el Vehiculos.",
                        RenderStyle = ToastRenderStyle.Danger
                    }); 
                }
            }
        }
        catch(Exception ex)
        {
            ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Notificacion",
                Title = "Información",  
                Text = "Error al eliminar el Vehiculos: Esta siendo usado por algun empleado.",
                RenderStyle = ToastRenderStyle.Danger
            });        
        }
    }

    /// <summary>
    /// Actualiza vehiculo
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private void ActualizarVehiculo(int id)
    {
        Navigation.NavigateTo($"/vehiculoform/{id}");
    }

    /// <summary>
    /// Adiciona Vehiculos
    /// </summary>
    private void AdicionarVehiculo()
    {
        Navigation.NavigateTo($"/vehiculoform");
    }
}